<div>
  <div class="flex items-center" style="height: 20vh">
    <div class="m-3">
      <div class="text-3xl">Welcome to Ramana Transport</div>
    </div>
  </div>

  <div
    style="height: 70vh"
    class="bg-gray-300 bg-gradient-to-br items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="m-3 w-full flex items-center justify-center">
      <div class="text-3xl">
        To start the Induction Test, Please click below button
      </div>
    </div>

    <div class="my-5 w-full flex items-center justify-center">
      <button
        (click)="goToLogin()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Start Induction
      </button>
    </div>
  </div>
</div>
